<footer class="footer">
  <small>
    <%= raw t :footer_notice %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to (t :contact), contact_path %></li>
      <li><a href="https://news.railstutorial.org/"><%= t :news %></a></li>
    </ul>
  </nav>
</footer>
